.list-food-container {
    display: flex;
    flex-direction: column;
  }
  
  .food-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
  }
  
  .add-food-link {
    margin-left: 10px;
    margin-right: 30px;
  }
  